<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Google Reviews Scraper{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var $header = $('#header');
            var $footer = $('#footer');
            var $main = $('#main');
            var $window = $(window).on('resize', function () {
                var height = $(this).height() - ($header.height() + $footer.height() + 3);
                $main.height(height);
            }).trigger('resize'); //on page load
        });
        function toggleAllReviews(checked) {
        var checkboxes = document.getElementsByName('review_ids');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = checked;
        }
    }

    </script>
</head>

<body>
<div id="header">
    <div style="padding: 0; margin: 0">
        <h1><b>Google Reviews Scraper</b></h1>
        <div align="right" style="margin-right: 20px">
            {% if current_user.is_authenticated %}
            Hi, {{ current_user.username }}
            {% endif %}
        </div>
    </div>
    <table style="width: 100%; margin:0; padding: 0">
        <tr>

            <td align="left" style="width: 33%">
                <table>
                    <tr>
                        <td><span class="button"><a href="/"><b>Home</b></a></span></td>
                        <td><span class="button"><a href="/all_reviews"><b>All Reviews</b></a></span></td>
                    </tr>
                </table>
            </td>

            <td align="right" style="width: 33%">
                <table>
                    <tr>
                        <td>
                <span class="button">

                        {% if current_user.is_authenticated %}
                            <a href="/account"><b>Account</b></a>
                        {% else %}
                            <a href="/register"><b>Register</b></a>
                        {% endif %}

                </span>
                        </td>
                        <td>
                <span class="button">

                        {% if current_user.is_authenticated %}
                            <a href="/logout"><b>Logout</b></a>
                        {% else %}
                            <a href="/login"><b>LogIn</b></a>
                        {% endif %}

                </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<div id="main"> {% block content %}
    {% endblock %}
</div>

<div id="footer">
</div>
</body>
</html>