{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}

<br />
<h3>Search  google reviews</h3>
<form method="POST">
  <div align="center" class="form-group">
    <br />
    <input type="search" class="form-control" name="place" id="search"  placeholder="Please enter company name or address" aria-label="Search" />
    <br />
    <button type="submit" class="btn btn-primary">Scrape Reviews</button>
  </div>
</form>

{% if reviews %}
      <h2>Reviews for {{ place }}:</h2>
      <ul>
      {% for review in reviews %}
          <li>Rating: {{ review.rating }}</li>
          <li>Comment: {{ review.comment }}</li>
          <li>Author: {{ review.author_name }}</li>
          <li>Time: {{ review.time_description }}</li>
          <br>
      {% endfor %}
      </ul>
{% endif %}
<!--<table class="table">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th scope="col">ID</th>-->
<!--      <th scope="col">Author Name</th>-->
<!--      <th scope="col">Review Date</th>-->
<!--      <th scope="col">Comment</th>-->
<!--      <th scope="col">Rate</th>-->
<!--      <th scope="col">Search Date</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <tr>-->
<!--      <th scope="col"></th>-->
<!--      <th scope="col"></th>-->
<!--      <th scope="col"></th>-->
<!--      <th scope="col"></th>-->
<!--      <th scope="col"></th>-->
<!--      <th scope="col"></th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="col"></th>-->
<!--      <th scope="col"></th>-->
<!--      <th scope="col"></th>-->
<!--      <th scope="col"></th>-->
<!--      <th scope="col"></th>-->
<!--      <th scope="col"></th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="col"></th>-->
<!--      <th scope="col"></th>-->
<!--      <th scope="col"></th>-->
<!--      <th scope="col"></th>-->
<!--      <th scope="col"></th>-->
<!--      <th scope="col"></th>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->
<!--<form method="POST">-->
<!--  <div align="center" class="form-group">-->
<!--    <button type="submit" class="btn btn-primary">Add</button>-->
<!--  </div>-->
<!--</form>-->
{% endblock %}