{% extends "base.html" %}
{% block title %} Reviews {% endblock %}
{% block content %}

    <br />
    <h3>Search  google reviews</h3>
    <form method="POST">
        <input type="text" name="place" placeholder="Enter a place name">
        <button type="submit">Scrape Reviews</button>
    </form>
    {% if reviews %}
      <h2>Reviews for {{ place }}:</h2>
      <ul>
      {% for review in reviews %}
          <li>Rating: {{ review.rating }}</li>
          <li>Comment: {{ review.comment }}</li>
          <li>Author: {{ review.author_name }}</li>
          <li>Time: {{ review.time_description }}</li>
          <br>
      {% endfor %}
      </ul>
    {% endif %}
{% endblock %}