{% extends "template.html" %}
{% block title %}{{ super() }} - Home{% endblock %}
{% block content %}

{% for message in get_flashed_messages() %}
<br/>{{ message }}<br/>
{% endfor %}

<!-- User Input Section -->
<form method="POST">
    <input type="text" name="place_name" placeholder="Enter a place name">
    <button type="submit">Scrape Reviews</button>
</form>

<!-- Confirmation Section -->
{% if place_name %}
<h2>Place Information</h2>
<p>Place Name: {{ place_name }}</p>
<p>Place ID: {{ place_id }}</p>
<p>Place URL: {{ place_url }}</p>
{% endif %}

<!-- Error Messages Section -->
{% if error_message %}
<p class="error">{{ error_message }}</p>
{% endif %}

<!-- General Information Section -->
{% if overall_rating %}
<p>Overall rating: {{ overall_rating }}</p>
<p>Total reviews: {{ total_reviews }}</p>
{% endif %}

<!-- Process Section -->
{% if scraping_progress %}
<p>{{ scraping_progress }}</p>
{% endif %}

<!-- Reviews Section -->
{% if reviews %}
<h2>Reviews:</h2>
<form method="POST" action="/save_reviews">
    <button type="submit" class="button" >Save Reviews</button>
</form>
<div class="result">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Reviewer</th>
            <th>Rating</th>
            <th>Review Time</th>
            <th>Review Content</th>
            <th>Owner Response</th>
        </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
        <tr>
            <td>{{ review.id }}</td>
            <td>{{ review.reviewer }}</td>
            <td>{{ review.rating }}</td>
            <td>{{ review.review_time }}</td>
            <td width="700px">{{ review.review_content }}</td>
            <td>{{ review.owner_response }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% elif no_reviews %}
<p>We found no reviews for this place, please check your input and try again.</p>
{% endif %}

<!-- General Messages Section -->
<p>Please wait for the reviews to be scraped. The time it takes depends on how many reviews the place has.</p>
<p>Please double check the place url to confirm it's the right place you want to check.</p>
{% endblock %}
