<!DOCTYPE html>
<html>
<head>
    <title>Google Reviews Scraper</title>
    <style>

        table {
            margin-left: auto;
            margin-right: auto;
        }

        h2 {
            text-align: center;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }

        .comment {
            max-width: 500px;
        }

        .rating {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Google Reviews Scraper</h1>
    <form method="POST">
        <input type="text" name="place" placeholder="Enter a place name">
        <button type="submit">Scrape Reviews</button>
    </form>

    {% if reviews %}
        <h2>Reviews for {{ place }}:</h2>
        <table>
            <thead>
                <tr>
                    <th>Rating</th>
                    <th>Comment</th>
                    <th>Author</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
            {% for review in reviews %}
                <tr>
                    <td class="rating">{{ review.rating }}</td>
                    <td class="comment">{{ review.comment }}</td>
                    <td>{{ review.author_name }}</td>
                    <td>{{ review.time_description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elif no_reviews %}
        <p>We found no reviews for this place, please check your input and try again.</p>
    {% endif %}
</body>
</html>
